body{
    background-color:skyblue;
}
.main_div{
    background-color: white;
    position: absolute;
    left: 300px;
    top:150px; 
    height: 288px;
    width:520px ;
}
.heading{
    background-color: black; 
    color: white;
    height: 30px;
    width: 260px;
    padding: 5px;
    position: absolute;
    left: 130px;
    top:-20px ;
}
.heading_1{
    position: absolute;
    left: 75px;
    top: -7px;
}
.fa-cloud{
    color: white;
}
.first_could{
    position: absolute;
    left: -50px;
}
.second_cloud{
    position: absolute;
    right: -50px;
}
.name{
    position: absolute;
    left: 220px;
    letter-spacing: 1px;
    top:10px;
}
h1.main-deatil{
    position: absolute;
    left: 30px;
    letter-spacing: 1px;
    top:50px;
}
img{
    position: absolute;
    left: 375px; 
    top: 50px;
}
.temp_deatil{
    position: absolute;
    left: 200px; 
    top: 150px;
    letter-spacing: 1px;
}
.pressure_detail{
    position: absolute;
    left: 30px;
    letter-spacing: 1px;
    top:150px;
}
.wind-speed_detail{
    position: absolute;
    left: 360px; 
    letter-spacing: 1px;
    top:150px;
}
.description{
    position: absolute;
    left: 200px; 
    top: 75px;
    letter-spacing: 1px;
}
.copy_right{
    position: absolute;
    bottom: -100px;
    left: 200px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .main_div{
        height: 400px;
        width: 240px;
        left: 20px;
        position: absolute;
        top: 75px;
    }
    .heading{
        left: 15px;
        width: 200px;
        padding: 0px;
    }
    .heading_1{
        left:40px;
    }
    .first_could{
      left: -30px;
  }
  .second_cloud{
      left: 140px;
  }
  .name{
      position: absolute;
      left: 75px;
  }
  h1.main-deatil{
      position: absolute;
      left: 20px;
  }
  img{
      position: absolute;
      left: 150px;
  }
  .description{
      position: absolute;
      left: 65px;
      top:120px;
  }
  .temp_deatil{
      position: absolute;
      left: 65px;
  }
  .pressure_detail{
      position: absolute;
      left: 95px;
      top: 250px;
  }
  .wind-speed_detail{
       position: absolute;
       left: 0px;
       top: 285px;
  }
  .copy_right{
    position: absolute;
    bottom: 0px;
    left: 50px;
}
}